<% if @idea %>
    <script language="javascript" type="application/javascript">
        // <!--
        function cancel() {
        window.location = "/";
        }
        // -->
    </script>
    
    <div class="row">
        <div class="span3">Editing <strong><%= @idea.title %></strong></div>
        <div class="span1"><% if @idea.highdea %><img src="/img/hd.png" title="Highdea" alt="HD" /><% else %><img src="/img/nhd.png" title="Not a highdea" alt="NHD" /><% end %></div>
    </div>
    <form action="/<%= @idea.id %>" method="post">
        <div class="row">
            <div class="span6"><input class="span6" name="title" type="text" value="<%= @idea.title %>" /></div>
        </div>
        <div class="row">
            <div class="span6"><textarea class="span6" name="ideatext"><%= @idea.text %></textarea></div>
        </div>
        <div class="row">
            <div class="span1"><label for="highdea">Highdea?</label></div>
            <div class="span1"><input type="checkbox" name="highdea" value="true" <% if @idea.highdea %> checked <% end %>/></div>
        </div>
        <div class="row">
            <div class="span2">
                <input type="submit" class="btn btn-primary" value="Save" />
                <input type="button" class="btn" value="Cancel" onClick="javascript:cancel();" />
            </div>
        </div>
    </form>
<% else %>
  <p>Idea not found.</p>
  <a href="/">Click here to return</a>
<% end %>
